<header id="header" class="navbar navbar-static-top">

  <div id="logo">
    <a href="http://hackyourfuture.net/">HACK <span>YOUR</span> FUTURE</a>
  </div>

  <nav id="navigation">
    <ul>
      <li><a href="#">FOR STUDENTS</a></li>
      <li><a href="#">APPLY NOW</a></li>
      <li><a href="#">SUPPORT US</a></li>
      <li><a href="#">VOLUNTEER</a></li>
      <li><a href="#">CONTACT</a></li>
    </ul>
  </nav><!-- /#navigation -->

  <a href="" id="btn_apply" class="btn btn-default" data-toggle="modal" data-target="#myModal">DONATE</a>

</header><!-- /#header -->
